{
  "env": {
    "jest/globals": true
  },
  "extends": ["google", "prettier"],
  "plugins": ["prettier", "jest"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "no-unused-vars": "warn",
//    "no-console": "warn",
    "func-names": "off",
    "max-len": ["warn", { "code": 80 }]
  }
}
